* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary: #34353A;
    --secondary: #FFC86B;
    --textColor: #fff;
}

body {
   background-color:#5c6b73;
   /* background: linear-gradient(45deg, #3b565e, #3b565e);*/
}

   




.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* navbar style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    color: white;

}


.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li {
    padding: 0px 20px;
    
}

.menu li a {
    color:#e0fbfc;
    cursor: pointer;
    font-size: 25px;
}

.menu li a:hover {
    color:#ebcfb2;
}

.search_bar {
    position: relative;
    display: flex;
}

.search_bar input {
    width: 100%;
    height: 45px;
    padding: 0px 35px 0px 15px;
    border-radius: 10px;
    background-color: #3D3E42;
    border: none;
    color: #fff;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 20px;
    color: gray;
}

.search_icon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: gray;
}

/* hero section style */

.hero_section .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
   
    
}

.col_hero_info h1 {
    font-size: 30px;
    color: white;
    position: absolute;
}

.col_hero_info span {
    font-size: 50px;
    color: #e0fbfc;
    margin-right: 10px;
   
   
}

.col_hero_info p {
    font-size: 25px;
    color: #fff;
    width: 400px;
    padding: 90px 0px;
    margin-left: 10px;
}
.btn {
    transition: all 300ms ease;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }
  
  .btn-color-1,
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  
  .btn-color-1,
  .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: #000000;
  }
  
  .btn-color-1:hover {
    background: #e0fbfc;
  }
  
  .btn-color-2 {
    background: none;
  }

    
  .btn-color-1 {
    background: none;
  }
  
  .btn-color-2:hover {
    background: #e0fbfc
  }
  
  .btn-container {
    gap: 1rem;
  }



#full_row {
    /*background-image: url(now-removebg-preview.png);*/
    background-size: cover;
    background-position: left center; /* Adjusted property for moving the image to the left */
    width: 100%;
    height: 100vh;
}

/********************  main area *********************/

.about_info{
    padding:90px 0px;
    position: relative;
}
.about_info h1{
    font-size: 50px;
    color: var(--textColor);
    font-weight: bold;
}
.about_info p{
    padding-top:25px;
    padding-left: 90px;
    font-size: 25px;
    color:var(--textColor);
}
.about_info p::before{
    content:"";
    position: absolute;
    left: 0;
    width: 70px;
    border: 2px solid var(--secondary);
    margin-top: 15px;
}




/* Skill section style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.skills_section{
    width: 100%;
    height: 75vh;
    padding: 0px 13%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
    
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
    color:#98DAD9;
    
}
.skills_head h2 span{
    color: #98DAD9;
}
.skills_head p {
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 100px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}


.skill_bar .info p:nth-child(2){
    font-weight: 500;
    
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #98DAD9;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .sass{
    width: 80%;
    animation: sass 2s;
}
@keyframes sass {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .js{
    width: 80%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .react{
    width: 75%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .node{
    width: 70%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .express{
    width: 65%;
    animation: express 2s;
}
@keyframes express {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .mongo{
    width: 60%;
    animation: mongo 2s;
}
@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}

/* project section*/

.portfolio-container {
    display: inline-block;
    margin-right: 20px; /* Adjust the margin as needed */

}
.portfolio-heading {
    color: #98DAD9; /* Set the text color */
    font-size: 50px; /* Set the font size */
    margin-bottom: 10px;
    text-align: center; /* Align text to the left */
    margin-left: 100px;
}
    /* Your existing styles remain here */

    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 25px 10px;
    }

    .portfolio-card {
        width: 300px;
        margin-bottom: 20px;
        margin-left: 150px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        overflow: hidden;
    }

    .portfolio_img {
        max-width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0; /* Rounded corners only at the top */
    }

    .portfolio-details {
        padding: 20px;
        text-align: center;
    }

    .portfolio-container_subtitle {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        color:#ffffff
    }

    .portfolio_title {
        text-decoration: none;
        color: #ffffff;
        margin-right: 10px;
    }

    .button {
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
        background-color: #98DAD9;
        color: #fff;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .button:hover {
        background-color: #cfaeb1;
    }

    /* Additional styles for the portfolio item content */
    .portfolio-card p {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 10px;
        text-align: justify;
        color: #ffffff;
    }
    .portfolio-container {
        display: inline-block;
    }










/* project section end*/



/* Testimonial Section */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 60px;
}

    h1 {
        color: #98DAD9; 
        font-family: 'Arial', sans-serif;
        font-size: 36px; 
        margin-bottom: 45px; 
        text-align: center; 
        margin-left: 100px;
    }



.swiper-container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 20px pink(0, 0, 0, 0.1);
    padding: 50px;
}


.swiper-slide {
    background-color:#d6d9db;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-content img {
    width: 200px;
    height: 250px;
    border-radius: 80%;
    margin-bottom: 100px;
}

.swiper-slide .testimonial-content h3 {
    color: #cdc7a6; 
    font-size: 50px;
    margin-bottom: 50px; 
}
.swiper-slide .testimonial-content p {
    color: #ffffff;
    font-size: 25px; 
    margin-bottom: 2px; 
}

.swiper-pagination {
    position: relative;
    bottom: 10px;
}

.swiper-pagination-bullet {
    background-color: #007bff;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    opacity: 0.7;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background-color: #004080;
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    color: #007bff;
    font-size: 18px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #004080;
}
/* contact section style  */
/*#contact_section{
    background-color:#3b565e;
    padding: 90px 0px;
    font-size: 23px;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color:#98DAD9;
}*/


/*contact form*/
/* Contact Me section style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#section-wrapper{
    width: 100%;
    padding: 10px;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg,#98DAD9(126,39,156,1) 0%, #98DAD9(49,39,157,1) 49%);
    color: #ffffff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
    color:#98DAD9;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
    color: #ffffff;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    background: #98DAD9;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color:#98DAD9;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #98DAD9;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color:#128e74;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #98DAD9;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: #128e74;
    #section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3b565e;
        color: #fff;
    }}
/* arrow_section*/
    #arrow-projects {
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    @media only screen and (max-width: 768px) {
        #arrow-projects {
            width: 40px;
            height: 40px;
            bottom: 15px;
            right: 15px;
        }
    }

    @media only screen and (max-width: 480px) {
        #arrow-projects {
            width: 30px;
            height: 30px;
            bottom: 10px;
            right: 10px;
        }
    }

    #arrow-projects:hover {
        transform: scale(1.2);
    }

/* Responsive css */
@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}

/*contact form end*/


/*******************
    responsive area
*********************/

/* for mobile phone  */
@media(max-width:768px){
    /* navbar  */
    .search_bar{
        display: none;
    }
    /* hero section  */
    .social_icons{
        display: none;
    }
    /* About section  */

    .about_info p{
        font-size: 20px;
        padding: 20px 20px;
        text-align: justify;
    }
    .about_info p::before{
        display: none;
    }

 /* skill section  */
 .skill_part_two,
 .skill_part_three{
    padding: 0px;
 }
 /* Experience section  */
.experience_content{
    border-left: none;
}
.experience_contents h2::before{
    display: none;
}
.experience_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
}
.experience_info h1::after{
    transform: rotate(270deg);
    border-width: 20px;
    right: 0;
    top:35px;
}
.experience_info h1{
    margin-bottom: 20px;
}


}

/* contact section  */
.contact_title h1::before,
.contact_title h1::after,
.footer_social_icon::after,
.footer_social_icon::before{
    display: none;
}